<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<mapper namespace="com.ydc.dao.cgj.car.VehicleBrandDao">
  <resultMap id="BaseResultMap" type="com.ydc.model.ydhc.YdhcVehicleBrand">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="brand" jdbcType="VARCHAR" property="brand" />
    <result column="label" jdbcType="CHAR" property="label" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="has_hot" jdbcType="INTEGER" property="hasHot" />
    <result column="STATUS" jdbcType="INTEGER" property="status" />
    <result column="create_by" jdbcType="INTEGER" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="INTEGER" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, brand, `label`, icon, has_hot, `STATUS`, create_by, create_time, update_by, update_time
  </sql>
  <select id="getAllBrand" resultType="java.util.Map">
    select id as dictKey,brand as dictValue from t_ydhc_vehicle_brand ORDER BY has_hot DESC
  </select>
  <select id="getAllBrandCH" resultType="java.util.Map">
    select brand as dictKey,brand as dictValue from t_ydhc_vehicle_brand ORDER BY has_hot DESC
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_ydhc_vehicle_brand
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_ydhc_vehicle_brand
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteAll">
    DELETE FROM t_ydhc_vehicle_brand
  </delete>
  <insert id="insert" parameterType="com.ydc.model.ydhc.YdhcVehicleBrand" useGeneratedKeys="true" keyProperty="id" >
    insert into t_ydhc_vehicle_brand (brand, `label`,
      icon, has_hot, `STATUS`, 
      create_by, create_time, update_by, 
      update_time)
    values (#{brand,jdbcType=VARCHAR}, #{label,jdbcType=CHAR},
      #{icon,jdbcType=VARCHAR}, #{hasHot,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{createBy,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id" >
    insert into t_ydhc_vehicle_brand (brand, `label`,
    icon, has_hot, `STATUS`,
    create_by, create_time, update_by,
    update_time)
    values
    <foreach collection="list" item="vb" index="index" separator=",">
      (#{vb.brand,jdbcType=VARCHAR}, #{vb.label,jdbcType=CHAR},
      #{vb.icon,jdbcType=VARCHAR}, 0, 1, 1, now(), 1, now())
    </foreach>
    ON DUPLICATE KEY UPDATE
    brand = VALUES(brand),
    `label` = VALUES(`label`),
    icon = VALUES(icon),
    update_by = VALUES(update_by),
    update_time = VALUES(update_time)
  </insert>
  <insert id="insertSelective" parameterType="com.ydc.model.ydhc.YdhcVehicleBrand">
    insert into t_ydhc_vehicle_brand
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="brand != null">
        brand,
      </if>
      <if test="label != null">
        `label`,
      </if>
      <if test="icon != null">
        icon,
      </if>
      <if test="hasHot != null">
        has_hot,
      </if>
      <if test="status != null">
        `STATUS`,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="brand != null">
        #{brand,jdbcType=VARCHAR},
      </if>
      <if test="label != null">
        #{label,jdbcType=CHAR},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="hasHot != null">
        #{hasHot,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ydc.model.ydhc.YdhcVehicleBrand">
    update t_ydhc_vehicle_brand
    <set>
      <if test="brand != null">
        brand = #{brand,jdbcType=VARCHAR},
      </if>
      <if test="label != null">
        `label` = #{label,jdbcType=CHAR},
      </if>
      <if test="icon != null">
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="hasHot != null">
        has_hot = #{hasHot,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        `STATUS` = #{status,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ydc.model.ydhc.YdhcVehicleBrand">
    update t_ydhc_vehicle_brand
    set brand = #{brand,jdbcType=VARCHAR},
      `label` = #{label,jdbcType=CHAR},
      icon = #{icon,jdbcType=VARCHAR},
      has_hot = #{hasHot,jdbcType=INTEGER},
      `STATUS` = #{status,jdbcType=INTEGER},
      create_by = #{createBy,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getBrandList" resultType="java.util.Map">
    SELECT tyvb.id,tyvb.brand,tyvb.label,tyvb.icon
    FROM t_ydhc_vehicle_brand tyvb
    ORDER BY tyvb.has_hot DESC
  </select>

  <select id="getBrandVOList" resultType="com.ydc.commom.view.vo.cgj.car.BrandVO">
    SELECT
      tyvb.id,
      tyvb.brand,
      tyvb.label,
      tyvb.icon
    FROM t_ydhc_vehicle_brand tyvb
    ORDER BY tyvb.has_hot DESC
  </select>

  <select id="getSeriesVOList" resultType="com.ydc.commom.view.vo.cgj.car.SeriesVO">
    SELECT
      id,
      brand,
      series
      FROM t_ydhc_vehicle_series
  </select>

  <select id="getModelVOList" resultType="com.ydc.commom.view.vo.cgj.car.ModelVO">
    SELECT
    id,
    model,
    series,
    type
    FROM t_ydhc_vehicle_model
  </select>
</mapper>